.navigation {
    width: 100%;
    height: 8%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
}

.navigationMain {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigationMainTitle {
    font-size: 1.1rem;
}

.navigationMainImage {
    border: 1px solid var(--blue);
    background-color: var(--light-blue);
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sm-radius);
}

.navigationMainImageIcon {
    font-size: .8rem;
    color: var(--blue);
}

.navigationMainDocs {
    border: 1px solid var(--orange);
    background-color: var(--light-orange);
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sm-radius);
}

.navigationMainDocsIcon {
    font-size: .8rem;
    color: var(--orange);
}

.navigationLinks {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.navigationLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigationLinkIcon {
    font-size: 1.6rem;
    color: var(--red);
}

.navigationLogout {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}